<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/88932d5dc5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <title>Code Partner</title>
</head>
<body>
    <!-- Navbar -->
<nav id="navbar">
    <div class="navbar-flex">
        <a href="../index.html"><img class="logo-code-partner" src="../assets/icons/logoCodePartner.png" alt=""></a>
        <ul class="nav">
            <li><a href="#">Comunidad</a></li>
            <li><a href="../template/cursos.html">Cursos</a></li>
            <li><a href="../template/nosotros.html">Nosotros</a></li>
            <li><a href="#">Para Empresas</a></li>
            <li><a href="#">Para Colegios</a></li>
        </ul>
        <div class="ver-cursos"><a href="">Ver Cursos</a></div>
    </div>
</nav>
    <!-- Seccion Cursos Uno -->
<section id="seccion-cursos-uno">
    <div class="seccion-cursos-flex">
        <div>
            <h1>Bienvenido/a al curso de</h1>
            <h2>FRONT END WEB DEVELOPER</h2>
            <h3>Curso 1 : Maquetación web</h3>
            <div class="ir-al-curso"><a href="">Ir al Curso</a></div>
        </div>

        <div><img class="img-modulos" src="../assets/icons/modulos.svg" alt=""></div>
    </div>

    <!-- Seccion Cursos Dos -->
    <section id="seccion-cursos-dos">
        <div>
            <h1>Impulsa tu carrera con Code Partner</h1>
            <p>Enfréntate a situaciones de trabajo reales, en donde tendrás que aplicar lo aprendido de forma individual y en equipo. A través de la práctica, irás superando desafíos y obteniendo nuevas habilidades.</p>
            <div class="modulo-1"><a href="">Modulo 1</a></div>
        </div>

        <div>
            <img class="modulo-img" src="../assets/icons/aprendizaje.svg" alt="">
        </div>
    </section>

    <!-- Modulos -->
    <article id="modulos">
        <h1>MODULO INTRODUCTORIO: HTML 5</h1>
        <h2>MAQUETACIÓN WEB</h2>
            <div class="videos-flex">
                <img src="../assets/icons/html5.jpg" alt="">
                <img src="../assets/icons/html5.jpg" alt="">
            </div>

        <h1>MODULO ESTILOS: CSS 3</h1>
        <h2>DISEÑO WEB</h2>
            <div class="videos-flex">
                <img src="../assets/icons/html5.jpg" alt="">
                <img src="../assets/icons/html5.jpg" alt="">
            </div>
    </article>
</section>

    <!-- Footer -->
<footer id="footer">
    <div class="flex-footer">

        <div>
            <img src="../assets/icons/logoCodePartner.png" alt="">
            <p>Edudación que enamora</p>
        </div>

        <div>
            <ul>
                <li><a href=""><span>Navegación</span></a></li>
                <li><a href="">Comunidad</a></li>
                <li><a href="">Cursos</a></li>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Para empresas</a></li>
                <li><a href="">Para colegios</a></li>
            </ul>
        </div>

        <div>
            <h1>Registrate a nuestro Newsletter</h1>
            <br>
            <input type="text" name="user_name" placeholder="Ingresá tu mail">
            <button class="busqueda"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>  
</footer>
</body>
</html>