<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/88932d5dc5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <title>Code Partner</title>
</head>
<body>
    <!-- Navbar -->
<nav id="navbar">
    <div class="navbar-flex">
        <a href="../index.html"><img class="logo-code-partner" src="../assets/icons/logoCodePartner.png" alt=""></a>
        <ul class="nav">
            <li><a href="#">Comunidad</a></li>
            <li><a href="#">Cursos</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Para Empresas</a></li>
            <li><a href="#">Para Colegios</a></li>
        </ul>
        <div class="ver-cursos"><a href="">Ver Cursos</a></div>
    </div>
</nav>
    <!-- Nosotros -->
<section id="seccion-nosotros">
    <h1>Somos un grupo de estudiantes con la misión de <span>dar una gran mano a la comunidad.</span></h1>
    <p>Creamos experiencias de aprendizaje y desarollo profesional increíbles para entusiastas digitales.</p>
    <div class="nosotros-flex-img">
        <div>
            <img class="img-nosotros" src="../nosotros/franco.png" alt="">
            <p>Franco Mangiameli</p>
        </div>

        <div>
            <img class="img-nosotros" src="../nosotros/andrea.png" alt="">
            <p>Andrea Coca</p>
        </div>

        

    </div>
</section>
</body>
</html>